# Python development tools

# Dev + Code quality
black
flake8
mypy
isort
pylint
coverage              # Code coverage for tests
debugpy               # Debugging support (e.g. VSCode, DAP)

# LSP / Editor integration
pynvim                # Required for Python support in Neovim
python-lsp-server[all]

pytest
factory-boy           # Fixtures for tests

# Project/tooling
pip-tools             # Better pip requirements handling
setuptools
wheel
